body{
    background-color: #252424; /*Fondo de color negro*/
    margin: 0; /*Quitamos los margenes para que todo se rellene*/
    font-family: Arial, sans-serif; /*Ponemos que todo el body tenga esta familia en todo el indice*/
    display: flex;
    flex-direction: column;
}

header{
    color: #FFFFFF; /*Texto de color blanco en el header*/
    text-align: center; /*Alineamos en el centro todo el texto*/
}

h1{
    font-size: 1.8rem; /*Ajustamos el tamaño para que en diferentes dispositivos se vea bien*/
}

.inicio{ /*Hago que el texto del inicio este centrado*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{ /*Fondo del Main un blanquito no muy blanco*/
    background-color: #f0f0f0;
    padding: 1rem;
}

footer{ /*Ponemos que este en el centro*/
    text-align: center;
    color: #FFFFFF;
}

.prototips{ /*Para hacer que los prototipos esten en el medio*/
    display: flex;
    justify-content: center;
    text-align: center; /*Para que el texto este en el centro*/
    gap: 0.5rem; /*Separación entre los divs */
    margin: 1rem;
}


.gallery{ /*Que cada div de la galeria tenga su borde*/
    border: 1px solid #000000; /*Le ponemos borde al div*/
    border-radius: 6px; /*Hacer que los bordes sean mas redondos*/
    padding: 1rem; /*Un espacio interior*/
    background-color: #FFFFFF;
    p{ /*Para hacer que el P que este dentro del div tenga un margin y un bold para que este en negrita*/
        margin-top: 1.5rem;
        font-weight: bold;
    }
}

img{ /*hacer que el tamaño de las imagenes tengan un tamaño maximo de 14rem*/
    max-width: 14rem;
    max-height: 10rem;
    min-width: 14rem;
    min-height: 10rem; /*Ponerle max i min width aparte del height para que se vean iguales entre iguales los tamaños de las imagenes.*/
    border: 1px solid #000000;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}