    body{
        background-color: #E5E5E5;
        display: flex;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .fondo{
        background-color: #AB2706;
        width: 1440px;
        height: 926px;
    }