body{ /*Un body con un fondo de color blanco*/
    font-family: 'Times New Roman', Times, serif;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

main{
    background-color: #FFFFFF;
    width: 1440px;
    height: 1024px;
    position: relative;
}


.textleft{
    position: absolute;
    top: 52px;
    left: 64px;
    width: 356px;
    height: 482px;
}

h1{
    font-size: 64px;
    line-height: 80px;
    font-weight: 400;
    width: 280px;
    height: 240px;
}

.text1{
    font-size: 24px;
    font-weight: 400;
    width: 356px;
    height: 112px;
}

h4{
    background-color: #457D61;
    border-radius: 36px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 66px;
    font-size: 24px;
    font-weight: 400;
}

.textright{
    position: absolute;
    width: 280px;
    height: 432px;
    top: 488px;
    left: 1028px;
    padding: 0;
}

.text2{
    font-size: 24px;
    font-weight: 400;   
    color: #252525;
    width: 279px;
    height: 140px;
    padding-top: 20px;
}

h2{
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    color: #252525;
    width: 232px;
    height: 252px;
}

.images{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
}

img{
    position: absolute;
}

.middle{
    top: 180px;
    left: 512px;
    position: absolute;
}

.firststar{
    position: absolute;
    top: 163px;
    left: 396px;
}

.whiteflower{
    position: absolute;
    top: 595.39px;
    left: 261.59px;
}

.leaves{
    position: absolute;
    top: 661.66px;
    left: 64px;
}

.greenflower{
    position: absolute;
    top: 171px;
    left: 1192px;
}

.star2{
    position: absolute;
    top: 423px;
    left: 1028px;
}

.whitechips{
    position: absolute;
    top: 66px;
    left: 984px;
}