    body{
        background-color: #E5E5E5;
        display: flex;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .fondo{
        width: 1440px;
        height: 926px;
        background-color: #FFFFFF;
    }

    .widthtext{
        width: 833px;
        height: 176px;
        padding-top: 64px;
        padding-left: 64px;
        margin-bottom: 24px;
    }

    h1{
        font-size: 71px;
        font-weight: 580;
    }

    .card{
        padding-left: 64px;
        width: 1312px;
        height: 559px;
    }

    .itemcard{
        width: 316px;
        height: 559px;
        padding-top: 34px;
    }

    h2{
        font-size: 40px;
        color: rgba(112, 112, 112, 0.356);
    }

    .p{
        font-size: 24px;
        color: #252525CC;
    }

    img{
        border-radius: 24px;
        height: 402px;
        width: 100%;
    }

    .fotosombra{
        position: relative;
        overflow: hidden; /*Lo que sobra se esconde*/
    }

    .fotosombra::after{
        content: ''; /* Obligatorio para que exista */
        position: absolute; /* Se coloca encima de la imagen */
        /* Ocupa todo el espacio del contenedor */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*El degradado*/
        background: linear-gradient(to bottom, transparent 50%, rgba(0,0,0,0.5) 100%);
        /*Borde redondo*/
        border-radius: 24px;
    }

    .relative{
        position: relative;
    }

    .absolute{
        content: '';
        position: absolute;
        top: 250px;
        left: 20px;
    }

    .title{
        font-weight: normal;
        font-size: 24px;
        color: #252525;
        top: 250px;
        left: 20px;
    }

    .p2{
        font-weight: normal;
        font-size: 16px;
        color: #252525;
        top: 20px;
        left: 20px;
        width: 213px;
        height: 66px;
    }

    .flex{
        display: flex;
    }

    .gap{
        gap: 16px;
    }