body{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fondo{
    background-color: #FFFFFF;
    width: 1440px;
    height: 933px;
}

.flex{
    display: flex;
}

.width-logo{
    width: 101.04px;
    height: 101.16px;
    margin-top: 64.75px;
    margin-left: 64.75px;
}

.width-h1{
    width: 629px;
    height: 240px;
}

h1{
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
}

.width-text{
    margin-left: 84px;
    width: 653px;
    height: 460px;
}

.width-h2{
    width: 629px;
    height: 90px;
}

h2{
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    color: #333333;
}

.button1{
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 18px;
    width: 219px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.button1 a{
    color: #FFFFFF;
}

.button2{
    border-radius: 16px;
    border: 1px solid black;
    width: 254px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
}

.button2 a{
    color: #000000;
}

.gap48{
    gap: 48px;
}

a{
    text-decoration: none;
}

.list{
    border: 1px solid black;
    border-radius: 24px;
    margin-top: 80px;
    gap: 64px;
    width: 652px;
    height: 118px;
    margin-left: 64px;
    justify-content: center;
    align-items: center;
}

.list-items{
    width: 91px;
    height: 70px;
    margin: 8px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.widthphoto{
    width: 635.31px;
    height: 778.19px;
}

.foto{
    padding-top: 152.24px;
    padding-left: 130px;
}

.stroke1{
    padding-top: 93px;
    padding-left: 68px;
}

.stroke{
    padding-top: 364.19px;
    padding-left: 340px;
}

.star1{
    padding-top: 62px;
    padding-right: 100px;
}

.tag{
    padding-top: 198px;
    padding-left: 399px;
}

.tag1{
    padding-top: 681px;
    padding-left: 24px;
}

.star2{
    padding-top: 221px;
    padding-left: 164px;
}

.star{
    padding-top: 624.27px;
    left: 488px;
}