body{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fondo{
    background-color: #FFFFFF;
    width: 1440px;
    height: 933px;
}

.flex{
    display: flex;
}

.width-logo{
    width: 101.04px;
    height: 101.16px;
    margin-top: 64.75px;
    margin-left: 64.75px;
}

.width-h1{
    width: 629px;
    height: 240px;
}

h1{
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
}

.width-text{
    margin-left: 84px;
    width: 653px;
    height: 460px;
}

.width-h2{
    width: 629px;
    height: 90px;
}

h2{
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    color: #333333;
}

.button1{
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 18px;
    width: 219px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    a{
        color: #FFFFFF;
    }
}

.button2{
    border-radius: 16px;
    border: 1px solid black;
    width: 254px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
    a{
        color: #000000;
    }
}

.gap48{
    gap: 48px;
}

a{
    text-decoration: none;
}

.list{
    border: 1px solid black;
    border-radius: 24px;
    margin-top: 80px;
    gap: 64px;
    width: 652px;
    height: 118px;
    margin-left: 64px;
    justify-content: center;
    align-items: center;
}

.list-items{
    width: 91px;
    height: 70px;
    margin: 8px;
}