body{ /*Un body con un fondo de color blanco*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 64px; /*Tama침o H1*/
}

h2{ /*Color y quitar negrita*/
    color: #252525CC;
    font-weight: normal;
}

.text-center{ /*Poner cualquier objeto en el medio*/
   display: flex;
   justify-content: center; 
}

.text-align{ /*Para alinear el tama침o*/
    text-align: center;
}

.width1{ /*Width del h1*/
    width: 610px;
    height: 145px;
}

.width2{ /*Width del h2*/
    width: 607px;
    height: 108px;
}

.width3{ /*Width del boton*/
    width: 158px;
    height: 54px;
}

p{ /*hacer el bot칩n y ponerlo en el medio*/
    color: #FFFFFF;
    background-color: #252525;
    border-radius: 16px;
    width: 158px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex{ /*Para poner flex*/
    display: flex;
}

.gap{ /*Espacio entre items de 16px*/
    gap: 16px;
}

.margin-top{ /*Margen entre las imagenes i el boton*/
    margin-top: 32px;
}

.margin-top2{ /*Margen entre las imagenes i debajo de las 4 ultimas imagenes.*/
    margin-top: 16px;
    margin-bottom: 32px;
}

a{ /*Quitar decoraci칩n del enlace y ponerle color blanco*/
    text-decoration: none;
    color: #FFFFFF;
}

.fondo{
    background-color: #FFFFFF;
}

.margin-h{ /*Para el margen horizontal*/
    margin: 0 64px;
}