body{ /*Un body con un fondo de color blanco*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

main{
    background-color: #FFFFFF;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.flex{
    display: flex;
}

.gap{
    gap: 64px;
}

.text{
    width: 568px;
    height: 418px;
    margin-left: 64px;
    margin-top: 298px;
}

h1{
    color: #2C1001;
    font-weight: 700;
    font-size: 64px;
    width: 568px;
    height: 168px;
}

h2{
    width: 567px;
    height: 108px;
    color: #2C1001;
    font-size: 24px;
    font-weight: 300;
}

h3{
    background-color: #FFDE81;
    color: #2C1001;
    border-radius: 36px;
    width: 265px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-weight: 300;
}

.list{
    top: 812px;
    left: 64px;
    background-color: #49342F;
    color: #FFFFFF;
    width: 650px;
    height: 168px;
    border-radius: 24px;
    position: absolute;
}

.list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 120px;
    margin: 12px 0;
}

.left{
    margin-left: 96px;
}

.img{
    position: relative;
    width: 791.67px;
    height: 904.79px;
}

.movil{
    position: absolute;
    top: 419px;
    left: 50px;
}

.corazon{
    top: 372px;
    left: 188px;
    position: absolute;
}

.portal{
    position: absolute;
    top: 180px;
    left: 406px;
}

.star{
    position: absolute;
    top: 80px;
}

.amarillo{
    position: absolute;
    top: 172px;
    left: 84px;
}

.star2{
    top: 745px;
    position: absolute;
    left: 590px;
}

.portal2{
    position: absolute;
    top: 360px;
    left: 580px;
}

.marron{
    position: absolute;
    top: 183.82px;
    left: 108px;
}

h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
}

p{
    width: 110px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
}

h5{
    margin: 0;
    margin-top: 10px;
    border-bottom: 3px solid #FFFFFF;
    width: 38px;
    height: 4;
}